.j1{
    text-align: center;
    color: #fff;
    background-color: #6e90da;
}
.j2{
    border: 2px solid ;
    float: left;
    width: 20%;
    height: 200px;
    display: inline-block;

}
.j2 img{
    width: 100%;
    height: 200px;
    display: inline-block;
}
.j3{
    border: 2px solid;
    display: inline;
    width: 75%;
    height: 200px;
    float: right
}
.j3 h2{
    color: black;
    font-weight: 300;
    background-color: #6e90da;
    text-align: right;
}
.j3 p{
    color: #fff;
    background-color: #6e90da;
    font-weight: 900;
    font-size: 90%;
}